<form data-request="onSend">
  <div class="input__wrpBG">
    <input type="text" name="name" placeholder="Имя" required />
  </div>

  <div class="input__wrpBG">
    <input type="email" name="email" placeholder="Ваша электронная почта" required />
  </div>

  <div class="input__wrpBG">
    <input type="phone" name="phone" placeholder="Ваш номер телефона" minlength="10" maxlength="18" required />
  </div>

  <div class="input__wrpBG">
    <input type="text" name="select" value="Участник" id="select" readonly>
    <!-- <button id="select" name="select" value="ssss">Участник</button> -->
    <div class="ulSeectWrap">
      <ul id="optins">
        <li>Участник</li>
        <li>Партнер</li>
      </ul>
    </div>
  </div>

  <div class="submit">
    <input type="submit" value="отправить" class="submitForm" />
  </div>
</form>