    <div class="parallax background-tree" id="Paralax__img__feedback">
        <img src="{{ 'assets/img/swb_uncolor.svg'|theme }}" alt="" />
        <img src="{{ 'assets/img/swb.svg'|theme }}" alt="" class="paraxImgMobil" />
        <img src="{{ 'assets/img/swb_uncolor.svg'|theme }}" alt="" />
        <img src="{{ 'assets/img/swb.svg'|theme }}" alt="" />
        <img src="{{ 'assets/img/swb_uncolor.svg'|theme }}" alt="" />
        <img src="{{ 'assets/img/swb_uncolor.svg'|theme }}" alt="" />
        <img src="{{ 'assets/img/swb_uncolor.svg'|theme }}" alt="" />
        <img src="{{ 'assets/img/swb_uncolor.svg'|theme }}" alt="" />
        <img src="{{ 'assets/img/swb_uncolor.svg'|theme }}" alt="" />
        <img src="{{ 'assets/img/swb_uncolor.svg'|theme }}" alt="" />
        <img src="{{ 'assets/img/swb_uncolor.svg'|theme }}" alt="" />
        <img src="{{ 'assets/img/swb_uncolor.svg'|theme }}" alt="" />
        <img src="{{ 'assets/img/swb_uncolor.svg'|theme }}" alt="" />
        <img src="{{ 'assets/img/swb_uncolor.svg'|theme }}" alt="" />
        <img src="{{ 'assets/img/swb_uncolor.svg'|theme }}" alt="" />
        <img src="{{ 'assets/img/swb_uncolor.svg'|theme }}" alt="" />
        <img src="{{ 'assets/img/swb_uncolor.svg'|theme }}" alt="" />
        <img src="{{ 'assets/img/swb_uncolor.svg'|theme }}" alt="" />
        <img src="{{ 'assets/img/swb_uncolor.svg'|theme }}" alt="" />
    </div>
    <div class="feedback__wrap">
        <div class="fw__title">
            <p>связаться с нами</p>
        </div>
        <div class="fw__sn">
            <a href="#"><img src="{{ 'assets/img/vk.svg'|theme }}" alt="" /></a>
            <a href="#"><img src="{{ 'assets/img/inst.svg'|theme }}" alt="" /></a>
        </div>
        <form action="">
            <div class="input__wrpBG">
                <input type="text" placeholder="Имя" />
            </div>

            <div class="input__wrpBG">
                <input type="email" placeholder="Ваша электронная почта" />
            </div>

            <div class="input__wrpBG">
                <input type="phone" placeholder="Ваш номер телефона" />
            </div>

            <div class="input__wrpBG">
                <button id="select" name="select">Участник</button>
                <div class="ulSeectWrap">
                    <ul id="optins">
                        <li>Участник</li>
                        <li>Партнер</li>
                    </ul>
                </div>
            </div>

            <div class="submit">
                <input type="submit" value="отправить" />
            </div>
        </form>
    </div>
    <div class="copyWrite">
        <p>
            © 2021 <a href="https://itd.company/" target="_blank">ITD Company</a>.
            All rights reserved
        </p>
    </div>
